@import "bootstrap-sprockets";
@import "bootstrap";

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', Georgia, Times, serif;
    font-size: 59px;
    line-height: 70px;
}
 
p, div {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
}
/* Home dividers */
body {
  padding-top: 70px;
  background: asset_url('water_look.jpg') repeat 0 0;
}
.container {
  background: asset_url('confectionary2.png') repeat 0 0;
  background-size: 100%;

}
/* Navbar */
.navbar {
  h2 {
    font-size: 2em;
  }
}

.col-md-6 {
  h2 {
    text-align: center;
    padding-bottom: 20%;
    padding-top: 10%;
  }
  h3 {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 50px;
  }

  .new_location {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  
    #location_address {
      width: 80%;
      margin-bottom: 20px;
      margin-top: 5px;
    }
    #form_options {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    #location_cost {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    #location_group_size {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
    #location_age {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      display: inline-block;
    }
    #slider_age {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      p {
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    .act_submit {
      padding-top: 20%;
    }
  }

}

.act_submit {
  padding-top: 20%;
  font-color: white;
}

.col-md-8 {
  padding-bottom: 20%;
}

/* Activities cards */
.act_card {
  text-align:center;
}

.next_button {
  .glyphicon-chevron-right {
    font-size: 3em;
  }
}

.prev_button {
  .glyphicon-chevron-left {
    font-size: 3em;
  }
}

.main {
  margin-top: 80px;
}

/*Flash for errors, successes */
#notice {
  text-align: center;
}

/*Button styling */
.btn-location {

}
