<div class="home">
	<div class="leftdiv">
	</div>

	<div class="middiv">

	  <% for i in @spot.name.count %>
	    <p><%= @spot.name %></p>
          <% end %>
	</div>

	<div class="rightdiv">
	</div>
</div>
